.page {
    text-align: center; 
    height: 100%; 
}

.title {
    font-size: 1.5rem; 
    font-weight: bold; 
    margin: 1.2em 0 1.2em 0; 
}

.subtitle {
    font-size: 1.2rem; 
    margin: 2.2em 0 0 0; 
}

.MiniTable {
    margin: 0 auto 1.2em auto; 
}

.MiniTable th {
    text-align: right; 
    padding: 2px 5px; 
}

.MiniTable td {
    text-align: left; 
    padding: 2px 5px; 
}

.BackLink {
    text-decoration: none; 
}

.BackArrow {
    font-size: 2em; 
}

.BackText {
    vertical-align: 35%; 
}

.FormTable {
    margin: 2.2em auto 0 auto; 
}

.FormTable th {
    text-align: right; 
    padding: 2px 5px; 
}

.FormTable td {
    text-align: left; 
    padding: 2px 5px; 
}

.VisibilityOnOff {
    height: 20px; 
    vertical-align: bottom; 
}

hr {
    width: 80%; 
    border: 0; 
    border-top: 1px dashed #aaa; 
}

/* hr {
    width: 80%;
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
} */